@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Nunito";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Nunito";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0px auto;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.side-button-up {
  position: fixed;
  z-index: 49;
  right: 20px;
  bottom: 50px;
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  display: none;
  cursor: pointer;
}

.side-button-up:hover {
  background-color: #afd6c7;
}

.side-button-up a {
  font-size: 30px;
  line-height: 40px;
}

.side-button-up img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.side-button-up-show {
  display: block;
}

.tooltip {
  overflow: hidden;
  width: 350px;
  font-size: 0.875rem;
  background-color: #64c29e;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: none;
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  padding: 0.75rem 2rem 0.75rem 0.75rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.tooltip__close {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.6;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  margin: 0;
  font-family: inherit;
  border-radius: 0;
}

.tooltip_show {
  display: block;
}

.btn {
  display: inline-block;
  padding: 0px 0px;
}

.btn.fw {
  width: 100%;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 17;
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  -ms-transform: translate3d(-50%, 0px, 0px);
  -o-transform: translate3d(-50%, 0px, 0px);
  -moz-transform: translate3d(-50%, 0px, 0px);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  position: relative;
  padding: 0px 37.5px;
}

.menu__list li:nth-child(2) {
  padding: 0px 110px 0px 37.5px;
}

.menu__list li:nth-child(3) {
  padding: 0px 37.5px 0px 110px;
}

.menu__list li:after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #4d4959;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  margin: -3px 0px 0px 0px;
}

.menu__list li:nth-child(2):after,
.menu__list li:last-child:after {
  display: none;
}

.menu__link {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #f7f7f7;
  padding: 100px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.footer__address {
  color: #848789;
  font-size: 14px;
  line-height: 22px;
}

.footer__address p:first-child {
  font-weight: 700;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  margin: 0px 7.5px;
}

.dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dev__text {
  color: #848789;
  font-size: 14px;
  font-style: italic;
  padding: 0px 9px 0px 0px;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about {
  padding: 120px 0;
  background-color: #f7f7f7;
}

.block {
  text-align: center;
}

.block__icon {
  margin: 0px 0px 30px 0px;
}

.block__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 0px 0px 18px 0px;
}

.block__text {
  color: #848789;
  font-size: 18px;
  line-height: 34px;
}

.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}

.block__text_j:after {
  content: "";
  display: block;
  margin: 35px auto 0px auto;
  width: 50px;
  height: 1px;
  background-color: #ebebeb;
}

.brands_rev .brands__column {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 1;
  order: 1;
}

.brands_rev .brands__column_b {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 2;
  order: 2;
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.brands__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}

.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}

.brands__content:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0px 0px 0px -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.brands__image {
  padding: 0px 0px 37.51% 0px;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}

.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(100, 194, 158, 0.5);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.item__logo span {
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #fff;
}

.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

.slider {
  background-color: #f7f7f7;
  padding: 60px 0 60px 0;
}

.slider__container {
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px;
  text-align: center;
}

.slide__icon {
  margin: 0px 0px 40px 0px;
}

.slide__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}

.slide__title span {
  font-weight: 300;
  color: #848789;
}

.slide__text {
  text-transform: uppercase;
  text-align: center;
  color: #848789;
  font-size: 24px;
  line-height: 34px;
  padding: 0px 35px;
}

.block-arrows {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-arrows::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(40px * 0.72);
          flex: 0 0 calc(40px * 0.72);
  width: calc(40px * 0.72);
  height: calc(40px * 0.72);
  border-top: 5px solid #848789;
  border-right: 5px solid #848789;
  margin-right: 15px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-prev {
  position: absolute;
  top: calc(50% - (40px * 0.72) / 2);
  left: 10px;
  z-index: 100;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.btn-next {
  position: absolute;
  top: calc(50% - (40px * 0.72) / 2);
  right: 10px;
  z-index: 100;
}

.control ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0px 0px 0px 0px;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.control ul li {
  width: 10px;
  height: 10px;
  background: #848789;
  border: 2px solid #848789;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}

.control ul li.selected {
  background: transparent;
}

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
}

.shop__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.shop__footer {
  padding: 75px 0;
  text-align: center;
  background-color: #282f35;
}

.shop__btn {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  letter-spacing: 2.8px;
  color: #fff;
  padding: 0px 60px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.block-shop {
  height: 100%;
}

.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.block-shop__item {
  height: auto;
  padding: 0px 0px 50% 0px;
}

.block-shop__item_b {
  padding: 0px 0px 200.5% 0px;
}

.block-shop__item_l {
  padding: 0px 0px 100% 0px;
}

.subscribe {
  background-color: #f7f7f7;
  position: relative;
}

.subscribe:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(85, 84, 84, 0.9) url("../img/icons/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.subscribe__body {
  padding: 80px 0 80px 0;
  margin: 0px auto;
  text-align: center;
}

.subscribe__logo {
  margin: 0px 0px 39px 0px;
}

.subscribe__label {
  color: #848789;
  font-size: 24px;
  font-style: italic;
  margin: 0px 0px 35px 0px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input .input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  height: 60px;
  border: 1px solid #d3d7d9;
  background-color: #ffffff;
  padding: 5px;
  margin: 0px 5px 0px 5px;
  color: #929292;
  font-size: 20px;
  font-style: italic;
}

.subscribe__input .input::-webkit-input-placeholder {
  text-align: center;
}

.subscribe__input .input::-moz-placeholder {
  text-align: center;
}

.subscribe__input .input:-ms-input-placeholder {
  text-align: center;
}

.subscribe__input .input::-ms-input-placeholder {
  text-align: center;
}

.subscribe__input .input::placeholder {
  text-align: center;
}

.subscribe__input .input.focus {
  font-style: normal;
  color: #333;
}

.subscribe__input .input.err {
  border: 1px solid red;
}

.subscribe__button {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0px 6px;
}

.subscribe._sending::after {
  opacity: 1;
  visibility: visible;
}

.subscribe__btn {
  height: 50px;
  width: 100%;
  line-height: 48px;
  letter-spacing: 2.8px;
  color: #fff;
  padding: 0px 60px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #64c29e;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.subscribe__btn:hover {
  background-color: #316451;
}

.map {
  height: 400px;
  width: 100%;
}

@media (max-width: 1500px) {
  .block__text_j:after {
    margin: 15px auto 0px auto;
  }

  .brands__content {
    padding: 40px 35px 30px 35px;
  }
}

@media (max-width: 1100px) {
  .footer {
    padding: 50px 0;
  }

  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .brands_last .brands__column:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  .brands_last .brands__column:nth-child(2) {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .brands_last .brands__column:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 3;
    order: 3;
  }

  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item__logo {
    opacity: 1;
    visibility: visible;
    background-color: transparent;
  }

  .item__logo img {
    display: none;
  }

  .item__logo span {
    margin: 0px;
    padding: 0 30px;
    text-align: center;
    line-height: 48px;
    background-color: rgba(33, 184, 126, 0.7);
    border: 1px solid #fff;
  }

  .item {
    height: auto;
    padding: 0px 0px 70% 0px;
  }

  .slider {
    padding: 20px 0 20px 0;
  }

  .shop__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .shop__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .shop__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .shop__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .shop__footer {
    padding: 50px 0;
  }

  .shop__btn {
    padding: 0px 30px;
  }
}

@media (max-width: 1048px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe__input .input {
    margin: 0px 0px 10px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
  }

  .subscribe__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe__button {
    margin: 20px 6px 0px 6px;
  }

  .subscribe__btn {
    text-align: center;
    padding: 0px 60px;
  }
}

@media (max-width: 900px) {
  .about {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .header {
    top: 15px;
  }

  .menu__body {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 150px 0px 20px 0px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 110px;
    background-color: #4d4959;
    z-index: 2;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li {
    padding: 0 0 45px 0;
  }

  .menu__list li:nth-child(2),
  .menu__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }

  .menu__list li:last-child {
    padding: 0px;
  }

  .menu__list li:after {
    width: 4px;
    height: 4px;
    background-color: #fff;
    top: 40px;
    right: 50%;
    margin: 0;
  }

  .menu__list li:nth-child(2):after {
    display: block;
  }

  .menu__link {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 33px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: #fff;
  }

  .icon-menu._active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu._active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }

  .slide__title {
    font-size: 18px;
  }

  .slide__title span {
    display: table;
    margin: 10px auto;
  }

  .slide {
    padding: 50px 0 30px 0;
  }

  .slide__icon {
    margin: 0px 0px 25px 0px;
  }

  .slide__title {
    margin: 0px 0px 15px 0px;
    padding: 0px 35px;
  }

  .slide__text {
    font-size: 16px;
    padding: 0px 35px 30px 35px;
  }
}

@media (max-width: 767.98px) {
  .btn-prev {
    display: none;
  }

  .btn-next {
    display: none;
  }
}

@media (max-width: 760px) {
  .footer__column {
    margin-bottom: 20px;
  }

  .footer__column:last-child {
    margin-bottom: 0px;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .footer__address {
    padding: 0;
  }

  .footer__social {
    margin: 15px 0;
  }
}

@media (max-width: 750px) {
  .subscribe__body {
    padding: 50px 0;
  }
}

@media (max-width: 600px) {
  .about {
    padding: 30px 0;
  }
}

@media (max-width: 500px) {
  .subscribe__form {
    display: block;
  }
}

@media (max-width: 350px) {
  .subscribe__btn {
    padding: 0 5px;
  }
}